*{
	margin: 0px;
	padding: 0px;
}
.container header{
	background-color: #B4A8AC;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
.container section .merchandises{
	padding: 40px;
}
.container section .merchandises .merchandises-content{
	border: 1px dashed green;
    padding: 10px 20px;
}
.container section .merchandises .merchandises-content .content-title{
	display: flex;
    background-color: #BEB8C2;
    padding: 10px;
    color: #365647;
    font-size: 0.8em;
    font-weight: bold;
}
.container section .merchandises .merchandises-content .content-title .title-merchandise{
	flex: 9;
	text-align: center;
}
.container section .merchandises .merchandises-content .content-title .title-unitPrice{
	flex: 1;
}
.container section .merchandises .merchandises-content .content-item{
	display: flex;
    background-color: #66ffcc;
    margin-top: 5px;
    padding: 10px;
    font-size: 0.6em;
    font-weight: bold;
}
.container section .merchandises .merchandises-content .content-item .item-image{
	flex: 1;
}
.container section .merchandises .merchandises-content .content-item .item-image img{
	width: 80%;
}
.container section .merchandises .merchandises-content .content-item .item-name{
	flex: 8;
}
.container section .merchandises .merchandises-content .content-item .item-name a{
	text-decoration: none;
	color: black;
}
.container section .merchandises .merchandises-content .content-item .item-name a:hover{
	color: red;
}
.container section .merchandises .merchandises-content .content-item .item-unitPrice{
	flex: 1;
}
.container section .merchandises .merchandises-option{
	margin: 30px 0px 0px 10px;
}
.container section .merchandises .merchandises-option a{
	text-decoration: none;
	font-size: 0.3em;
    font-weight: bold;
    color: black;
}
.container section .merchandises .merchandises-option a:hover{
	color: red;
}
.container footer{
	background-color: #C8BFB0;
    padding: 20px;
    text-align: center;
    color: white;
}